<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/employee-home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.ManagerHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomeServlet</servlet-name>
    <url-pattern>/manager-home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.SubmitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReimbursementServlet</servlet-name>
    <url-pattern>/submit-reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/create-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EmployeeViewReimbursementServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.EmployeeViewReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewReimbursementServlet</servlet-name>
    <url-pattern>/employee-view-reimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EmployeeViewInfoServlet</servlet-name>
    <servlet-class>Revature.Project1.Servlets.EmployeeViewInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewInfoServlet</servlet-name>
    <url-pattern>/employee-view-info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewEmployees</display-name>
    <servlet-name>ManagerViewEmployees</servlet-name>
    <servlet-class>Revature.Project1.Servlets.ManagerViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewEmployees</servlet-name>
    <url-pattern>/manager-view-employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewEmpReimb</display-name>
    <servlet-name>ManagerViewEmpReimb</servlet-name>
    <servlet-class>Revature.Project1.Servlets.ManagerViewEmpReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewEmpReimb</servlet-name>
    <url-pattern>/manager-view-reimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeViewApproved</display-name>
    <servlet-name>EmployeeViewApproved</servlet-name>
    <servlet-class>Revature.Project1.Servlets.EmployeeViewApproved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewApproved</servlet-name>
    <url-pattern>/employee-view-approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewApprEmpReimb</display-name>
    <servlet-name>ManagerViewApprEmpReimb</servlet-name>
    <servlet-class>Revature.Project1.Servlets.ManagerViewApprEmpReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewApprEmpReimb</servlet-name>
    <url-pattern>/manager-view-approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeViewDenied</display-name>
    <servlet-name>EmployeeViewDenied</servlet-name>
    <servlet-class>Revature.Project1.Servlets.EmployeeViewDenied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewDenied</servlet-name>
    <url-pattern>/employee-view-denied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewDenEmpReimb</display-name>
    <servlet-name>ManagerViewDenEmpReimb</servlet-name>
    <servlet-class>Revature.Project1.Servlets.ManagerViewDenEmpReimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewDenEmpReimb</servlet-name>
    <url-pattern>/manager-view-denied</url-pattern>
  </servlet-mapping>
</web-app>