.login-form{

    margin-bottom: 25px;
}

.login-header{

    margin-bottom: 15px;
}

.login-error{

    margin-bottom: 5px;
}

.landing-div{

    background-color: #FFFFFF;
}

.landing-navbar{

    background-color: #F8F9FA;
    border-right-width: 5px!important;
    border-right-color: #000000!important;
}

.landing-navbar-head{

    border-width: 4px;
    border-color: #000000;
}

.landing-navbar-item{

    background-color: #F8F9FA;
}

.table {
   margin: auto;
   width: 80% !important; 
}