.login-form{

    margin-bottom: 25px;
}

.login-header{

    margin-bottom: 15px;
}

.login-error{

    margin-bottom: 5px;
}

.landing-div{

    background-color: #FFFFFF;
}

.landing-navbar{

    background-color: #E8E9EA;
    border-right-width: 5px!important;
    border-right-color: #000000!important;
}

.landing-navbar-head{

    border-width: 4px;
    border-color: #000000;
}

.landing-navbar-item{

    background-color: #E8E9EA;
}

.table-scrollbar{
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    margin: auto!important;
    width: 80% !important; 
}

.info-a{

    text-align: center;
}

html, body {margin: 0; height: 100%; overflow: hidden}