<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ReImbursement</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeViewReceipts</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeViewReceipts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeViewReceipts</servlet-name>
    <url-pattern>/viewreceipts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiptServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiptServlet</servlet-name>
    <url-pattern>/api/receipts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateReceiptServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReceiptServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApprovedReceipts</servlet-name>
    <servlet-class>com.revature.servlets.ApprovedReceipts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedReceipts</servlet-name>
    <url-pattern>/api/approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewApprovedServlet</servlet-name>
    <servlet-class>com.revature.servlets.ViewApprovedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApprovedServlet</servlet-name>
    <url-pattern>/approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/viewemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllEmployees</servlet-name>
    <servlet-class>com.revature.servlets.GetAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployees</servlet-name>
    <url-pattern>/api/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPendingRequests</servlet-name>
    <servlet-class>com.revature.servlets.AllPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPendingRequests</servlet-name>
    <url-pattern>/allpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllPendingReceipts</servlet-name>
    <servlet-class>com.revature.servlets.GetAllPendingReceipts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllPendingReceipts</servlet-name>
    <url-pattern>/api/allpending</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ActionApprovePending</servlet-name>
    <servlet-class>com.revature.servlets.ActionApprovePending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionApprovePending</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  
</web-app>