<!DOCTYPE html>
<html>
<head>

<title>View Receipts</title>
</head>

<body>

<table class="table table-dark" id="receipt-table">
	<thead>
		<tr>
			<th scope="col">Amount</th>
			<th scope="col">Note</th>
			<th scope="col">Approved</th>
		</tr>
	</thead>
</table>

<script>

console.log('Hi');

	let requestUrl = "http://localhost:8080/Reimbursement/api/receipts";
	
	function sendAjaxGet(url, callback){
		let xhr = new XMLHttpRequest();
		
		xhr.open("GET", url);
		
		xhr.onreadystatechange = function(){
			if(xhr.readyState===4 && xhr.status===200){
				//callback(xhr.getResponseHeader("receiptsJSON"));
				console.log(this.response);
			}
			
			
		}
			xhr.send();		
	}
	
	function displayReceipts(receipts){
		
		console.log(receipts);
		
		
		/*  let receipts = JSON.parse(receiptsJSON);
		
		let table = document.getElementById("receipt-table");
		table.hidden = false;
		
		for(let receipt of receipts){
			let newRow = document.createElement("tr");
			

			newRow.innerHTML = `<td>${receipt.amount}</td>`;
			table.appendChild(newRow);
			
		}  */
		
		
		
	}
	
	sendAjaxGet(requestUrl, displayReceipts);

	
</script>
</body>
</html>