

table {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    outline-color: blue;
    outline-style: solid;
    outline-width: medium;
    text-align: center;
}

.url{
     background-color: rgb(129, 210, 248);
     text-align: center;
}

#urlid{
    font-style: italic;
    
}